.MainPane {
  -fx-background-color: rgb(0, 0, 0);
}
.CenterPane {
  -fx-background-color: rgb(26, 26, 26);
}

.TopPane {
  -fx-background-color: rgba(30, 31, 37, 1);
}

.leftPane {
  -fx-background-color: rgba(30, 31, 37, 1);
}

.button {
  -fx-background-color: rgba(98, 95, 87, 0.42);
}

.logOutBtn {
  -fx-background-color: rgb(199, 48, 48);
}

.selectedBtn {
  -fx-background-color: rgba(208, 153, 33, 0.71);
}

.text-field {
  /*-fx-background-color: rgb(0, 0, 0);*/
  -fx-text-fill: black;
  -fx-border-color: #000;
}

.label {
  /*-fx-background-color: rgb(145,205,175);*/
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-background-radius: 10px;
  -fx-text-fill: #000000;
  /*-fx-font-family: "DM Sans";*/
}
.table-view {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
  -fx-background-radius: 20px;
}

.labelWithBackGround {
  -fx-background-color: rgba(98, 95, 87, 0.8);
  -fx-background-radius: 10px;
}

#maCanHoField {
  -fx-text-fill: #000000; /* Màu chữ đen */
}
.black-text {
  -fx-text-fill: #000000; /* Màu chữ đen */
}

#Regex__P1__1{
  -fx-text-fill: red;
}

#Regex__P1__2{
  -fx-text-fill: red;
}

#Regex__P2__1{
  -fx-text-fill: red;
}

#Regex__P2__2{
  -fx-text-fill: red;
}
